#C1 {
    border-radius: 25px;
    background: #0f0f0f;
    position: relative;
    top: 100;
    left: 30px;
    border-width: 5px;
    padding: 20px; 
    width: 350px;
    height: 80px; 
    border-style: solid;
    border-color: rgb(236, 10, 10);
}
#C2 {
    border-radius: 35px;
    background: #0f0f0f;
    position: relative;
    bottom: 140px;
    left: 250px;
    border-width: 5px;
    padding: 20px; 
    width: 350px;
    height: 20px; 
    border-style: solid;
    border-color: rgb(236, 10, 10);
    padding-top: 30px;
    padding-left: 60px;
    
}
#C3 {
    border-radius: 25px;
    background: #0f0f0f;
    position: relative;
    left: 1040px;
    bottom: 240px;
    border-width: 5px;
    padding: 20px; 
    width: 350px;
    height: 120px; 
    border-style: solid;
    border-color: rgb(236, 10, 10);
    padding-left: 60px;
    
}
.box1 {
    position: relative;
    left: 750px;
    bottom: 200px;
    text-align: center;
    border-style: dashed; 
    border-color: red;
    border-width: 5px;
    width: 20%;
}
.hr {
    width: 100%;
    
}
.C1 {
    background: #05f776;
    border-style: solid;
    border-color: grey;
    border-width: 10px;
    border-radius: 50%;
    width: 450px;
    height: 400px;
    position: relative;
    left: 50px;
    bottom: 700px;
    text-align: center;
    padding-bottom: 20px;
    
} 
#sub {
    position: relative;
    top: 100px;
    width: 95%;

}
#sub1 {
    position: relative;
    top: 100px;
}
#l1 {
    position: relative;
    top: 80px;
    width: 100%;

}
#l2 {
    position: relative;
    top: 100px;
    width: 100%;

}
#l3 {
    position: relative;
    top: 75px;
}
.m1 {
    border-radius: 35px;
    background: #0f0f0f;
    position: relative;
    bottom: 500px;
    left: 550px;
    border-width: 5px;
    padding: 20px; 
    width: 350px;
    height: 50px; 
    border-style: solid;
    border-color: rgb(236, 10, 10);
    text-align: center;
}
#l4 {
    position: relative;
    bottom: 20px;
}
#l5 {
    position: relative;
    bottom: 500px;
}
.P1 {
    
    border-radius: 25px;
    background: #0ec3f6;
    border-width: 2px;
    padding: 0px; 
    width: 250px;
    height: 300px; 
    border-style: solid;
    border-color: rgb(4, 164, 55);
    padding-left: 60px;
    margin: 60px;
   
    
}
.container {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
.b1 {
    position: relative;
    width: 100%;
    left: 20px;
}
